services:
  web:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./ports.conf:/etc/apache2/ports.conf
      - ./src:/var/www/html
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_password 
    volumes:
    - pg-data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_LISTEN_PORT: 8001
    ports:
      - "8001:8001"
    depends_on:
      - db

volumes:
  pg-data:
