services:
  web:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./ports.conf:/etc/apache2/ports.conf
      - ./src:/var/www/html

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: my_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin 
    ports:
      - 5432:5432
    volumes:
    - pg-data:/var/lib/postgresql
    - ./init-db:/docker-entrypoint-initdb.d

  postgrest:
    image: postgrest/postgrest
    restart: always
    environment:
      PGRST_SERVER_HOST: 0.0.0.0
      PGRST_DB_URI: postgres://admin:admin@db:5432/my_db
      PGRST_DB_ANON_ROLE: anon
      PGRST_OPENAPI_SERVER_PROXY_URI: http://127.0.0.1:3000
    ports:
      - 8001:3000
    depends_on: 
    - db

  adminer:
    image: adminer
    restart: always
    ports:
      - 8002:8080

volumes:
  pg-data:
