services:
  web:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./ports.conf:/etc/apache2/ports.conf
      - ./src:/var/www/html

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_password 
    ports:
      - 5432:5432
    volumes:
    - pg-data:/var/lib/postgresql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8002:8080

volumes:
  pg-data:
